.heroText {
    max-width: 600px;
    padding: 30px 30px;
    z-index: 10;
    color: #fff;
    font-weight: 600;
    position: relative; 
    background: rgba(31, 28, 28, 0.5); 
}


.heroTitle {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 20px -5px;
    line-height: 5rem;
}

.heroGenres {
    color: #FF2E00;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
    text-transform: uppercase;
}

.heroRating {
    color:#FCC970;
    font-size: 20px;
    font-family: 700;
    margin: 0px 8px;
}

.heroDesc {
    margin: 20px 0px;
    font-size: 16px;
    text-align: justify;
}

.watchButton {
    padding: 10px 30px;
    border: none;
    background-color:  #5436A9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.listButton {
    padding: 10px 30px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #5C5C5C;
    text-transform: uppercase;
    color: #fff; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}