@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1440px;
}

.header-bg {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,80,165,1) 100%);
  color: #A1B1CB;
  font-size: 16px;
  font-weight: 700;
  height: 93px;
}

.footer {
  background: #161214;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  height: 389px;
}